*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tlacitko {
margin-bottom: 8px;
}
h3 {
    margin-top: 0; margin-bottom: 12px; font-size: 16px; border-bottom: 1px solid #555; padding-bottom: 5px;
}

#vrstvyMenu {
position: absolute; top: 20px; left: 20px; z-index: 10; background: rgba(30, 30, 30, 0.8); color: white; padding: 15px; border-radius: 8px; font-family: sans-serif; box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#cesiumContainer {
    height: 100vh;
}